
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>{{hostname}}: {{name}} | HackSoc</title>

    <link rel="icon" type="image/png" href="//hacksoc.org/static/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="//hacksoc.org/static/favicon-32x32.png" sizes="32x32" />

    <link href="//fonts.googleapis.com/css?family=Rokkitt:400,700|Sanchez|Quando" rel="stylesheet" type="text/css">
    <link href="//hacksoc.org/style.css" rel="stylesheet" type="text/css">
    <link href="/static/highlight.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        img { display: block; margin: 16px auto; }
        pre { margin: 1em; padding: 1em; }
    </style>
  </head>

  <body>
    <div id="container">
      <header>
        <h1>{{name}}</h1>
        <h2>{{fqdn}}</h2>
      </header>

      <div id="main">
        {{{body}}}
      </div>
    </div>
  </body>
</html>
